.popup {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    color: black;
    padding: 34px 36px 37px 36px;
display: none;
    justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup{
        padding: 25px 22px;
    }
}