.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    left: 0;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 36px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .popup-container {
        padding: 0 19px;
    }
}