.popup__title{
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media (min-width: 320px) and (max-width: 767px){
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        overflow:hidden;
        white-space:nowrap;
        letter-spacing: -0.5px;
    }
}