.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-top: 16px;
    flex: 3 0 100%;
}

@media (min-width: 320px) and (max-width: 800px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}