.place__button_like {
    background: transparent url("../../../../img/icons/heart.png") no-repeat;
}

.place__button_like:active{
    background-image: url("../../../../img/icons/heart_active.png");
}