.form__input {
    width: 100%;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

}
.form__input:first-child {
    margin-top: 54px;
}
