.popup__subtitle {
    bottom: -35px;
    position: absolute;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

