.profile__wrapper {
    flex: 1 0 336px;
    padding-left: 30px;
}

@media (min-width: 320px) and (max-width: 800px) {
    .profile__wrapper {
        flex: 1 0 54px;
        padding-left: 0;
        margin-top: 22.25px;
    }
}