.profile__button_edit {
    padding: 0;
    background-image: url("../../../../img/icons/Edit Button.png");
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__button_edit {
        margin-left: 10px;
        height: 18px;
        width: 18px;
    }
}
@media (min-width: 768px) {
    .profile__button_edit {
        height: 24px;
        width: 24px;
        margin-left: 18px;
    }
}
.profile__button_edit:hover {
    transition: all .55s ease-in;
    opacity: 0.6;
}
